#interviewsPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#interviewsList {
    width:450px;
}

#interviewsList > .interview {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    margin:10px;
    border-radius: 5px;
}